<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="posicao">
    <th mat-header-cell *matHeaderCellDef> Posição</th>
    <td mat-cell *matCellDef="let element">{{element.posicao}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="pais">
    <th mat-header-cell *matHeaderCellDef> Pais </th>
    <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ouro">
    <th mat-header-cell *matHeaderCellDef> Ouro </th>
    <td mat-cell *matCellDef="let element"> {{element.ouro}} </td>
  </ng-container>

  <ng-container matColumnDef="prata">
    <th mat-header-cell *matHeaderCellDef> Prata </th>
    <td mat-cell *matCellDef="let element"> {{element.prata}} </td>
  </ng-container>

  <ng-container matColumnDef="bronze">
    <th mat-header-cell *matHeaderCellDef> Bronze </th>
    <td mat-cell *matCellDef="let element"> {{element.bronze}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
