<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Ganhadores</title>

</head>
<body >
    <h1>Os 8 Maiores Ganhadores de Medalhas nos Jogos Olimpicos</h1>
    <ul>
        <li >Estados Unidos em 1º Lugar com 2520 medalhas;</li>
        <li >União Soviética em 2º com 1010 medalhas;</li>
        <li>Grã-Bretanha no 3º com 847 medalhas; </li>
        <li>França no 4º com 713 medalhas; </li>
        <li>Alemanha em 5º lugar com 615 medalhas;</li>
        <li>Itália em 6º lugar com 577 medalhas;</li>
        <li>China em 7º lugar com 543;</li>
        <li>Austrália em 8º lugar com 526 medalhas;</li>
    </ul>
    <tbody>
      <td></td>
    </tbody>
</body>
</html>

