<article>

<h1> 10 curiosidades sobre os Jogos olímpicos </h1>

<div>
  <p> No entanto, a tradição foi ressuscitada cerca de 1500 anos depois : os primeiros Jogos Olímpicos modernos foram realizados em 1896 na Grécia.</b>
</div>

<div>
  <p>Na Grécia antiga, os atletas não se preocupavam com patrocínio, proteção ou moda – eles competiam nus.
4. Naquela época, os jogos duravam de cinco a seis meses.</b>
</div>

<div>
  <p>As mulheres só foram autorizadas a competir nos Jogos Olímpicos em 1900.</b>
</div>

<div>
  <p>As línguas oficiais dos jogos são Inglês e Francês, complementado pela língua oficial do país sede.</b>
</div>

<div>
  <p>De 1912 a 1948, pintores, escultores, arquitetos, escritores e músicos competiam por medalhas em suas respectivas áreas, participando dos Jogos Olímpicos.</b>
</div>

<div>
  <p> A Tocha Olímpica já visitou o espaço várias vezes.</b>
</div>

<div>
  <p>Apenas em 2012 aconteceram os primeiros Jogos Olímpicos em que todos os países enviaram atletas mulheres.</b>
</div>

<div>
  <p> As seis cores – azul, amarelo, preto, verde, vermelho e fundo branco – foram escolhidos porque a bandeira de cada nação contém um deles, pelo menos.</b>
</div>

<div>
  <p>A Tocha Olímpica é iluminada à moda antiga em uma cerimônia no templo de Hera na Grécia: Atrizes, vestindo trajes de sacerdotisas gregas, usam um espelho e os raios do sol para acender a tocha.</b>
</div>

<div>
  <p>A chama Olímpica deve estar acessa durante todo o evento. No caso da chama se apagar, ela só pode ser reacendida com uma chama de backup, que também foi acesa na Grécia. Ela numa deve ser acendida com um isqueiro qualquer</b>
</div>



</article>

