<!--<article>

<h1> 10 curiosidades sobre os Jogos olímpicos </h1>


  <p> Os primeiros Jogos Olímpicos ocorreram no século VIII A.C. em Olímpia, na Grécia. Eles eram realizados a cada quatro anos e assim continuaram por 12 séculos. </p>


  <p>Na Grécia antiga, os atletas não se preocupavam com patrocínio, proteção ou moda – eles competiam nus.
     Naquela época, os jogos duravam de cinco a seis meses.</p>


  <p>As mulheres só foram autorizadas a competir nos Jogos Olímpicos em 1900.</p>


  <p>As línguas oficiais dos jogos são Inglês e Francês, complementado pela língua oficial do país sede.</p>


  <p>De 1912 a 1948, pintores, escultores, arquitetos, escritores e músicos competiam por medalhas em suas respectivas áreas, participando dos Jogos Olímpicos.</p>


  <p> A Tocha Olímpica já visitou o espaço várias vezes.</p>


  <p>Apenas em 2012 aconteceram os primeiros Jogos Olímpicos em que todos os países enviaram atletas mulheres.</p>


  <p> As seis cores – azul, amarelo, preto, verde, vermelho e fundo branco – foram escolhidos porque a bandeira de cada nação contém um deles, pelo menos.</p>


  <p>A Tocha Olímpica é iluminada à moda antiga em uma cerimônia no templo de Hera na Grécia: Atrizes, vestindo trajes de sacerdotisas gregas, usam um espelho e os raios do sol para acender a tocha.</p>


  <p>A chama Olímpica deve estar acessa durante todo o evento. No caso da chama se apagar, ela só pode ser reacendida com uma chama de backup, que também foi acesa na Grécia. Ela numa deve ser acendida com um isqueiro qualquer</p>




</article>
-->

<app-curiosidades></app-curiosidades>

